.speech{
    color:black;font-family: Arial, Helvetica, sans-serif;size: 1.5em;
}
.stage-direction{
    color:black;font-family: Georgia, 'Times New Roman', Times, serif;background-color: aquamarine;size: 1.8em;
}
.name{
    color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;size: 1.4em;
}
.stage-direction:hover:hover{
    color:red;background-color: tan;
}
.MISS_PRISM{
    color:yellowgreen;
}
.CECILY{
    color:violet;
}
.table,th,td{
    border:1px solid red;color:rgb(67, 67,179);text-align: center;padding:01em;margin: 0em;

}
tr:nth-child(even){background-color: #b38d8d;}
.name:hover{text-shadow: 1px 1px red;filter:blur(1px);}